#wrapper {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: white;
}


/* nyhetsbrev index.php */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 30%;
    padding-bottom: 5%;

    border: 5px solid #84BC41;
}

.newsletterTxt {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%; 
}






#footer {
  display: flex;
}